// Portfolio Modal 4
#portfolioModal4.portfolio-modal.modal.fade(tabindex='-1', aria-labelledby='portfolioModal4', aria-hidden='true')
    .modal-dialog.modal-xl
        .modal-content
            .modal-header.border-0
                button.btn-close(type='button', data-bs-dismiss='modal', aria-label='Close')
            .modal-body.text-center.pb-5
                .container
                    .row.justify-content-center
                        .col-lg-8
                            // Portfolio Modal - Title
                            h2.portfolio-modal-title.text-secondary.text-uppercase.mb-0 The World Starts With You - Platformer Game
                            // Icon Divider
                            .divider-custom
                                .divider-custom-line
                                .divider-custom-icon
                                    i.fas.fa-star
                                .divider-custom-line
                            // Portfolio Modal - Image
                            img.img-fluid.rounded.mb-5(src='assets/img/portfolio/world2.png', alt='...')
                            // Portfolio Modal - Text
                            p.mb-4
                                | I made this video game at the Hack The Mountains 2.0 Hackathon. I collaborated in a team of four (2 programmers, 2 presenters) to build a platform-based video game during a 36-hour coding sprint. 
                                | I developed and presented this with a meaningful lesson: users are encouraged to be cognizant of the world around them when securing and consuming their needs.
                                | I programmed in C# to implement a complex player controller, states, animations, collisions, enemies, collectibles, health system, goal system, player/enemy deaths, sound effects, music, UI, and multiple levels. 
 

                            //- button.btn.btn-primary(href='#!', data-bs-dismiss='modal')
                            //-     i.fas.fa-times.fa-fw
                            //-     | Close Window