// Portfolio Modal 6
#portfolioModal6.portfolio-modal.modal.fade(tabindex='-1', aria-labelledby='portfolioModal6', aria-hidden='true')
    .modal-dialog.modal-xl
        .modal-content
            .modal-header.border-0
                button.btn-close(type='button', data-bs-dismiss='modal', aria-label='Close')
            .modal-body.text-center.pb-5
                .container
                    .row.justify-content-center
                        .col-lg-8
                            // Portfolio Modal - Title
                            h2.portfolio-modal-title.text-secondary.text-uppercase.mb-0 Modeling the Impact of COVID-19	
                            // Icon Divider
                            .divider-custom
                                .divider-custom-line
                                .divider-custom-icon
                                    i.fas.fa-star
                                .divider-custom-line
                            // Portfolio Modal - Image
                            img.img-fluid.rounded.mb-5(src='assets/img/portfolio/covid2.png', alt='...')
                            // Portfolio Modal - Text
                            p.mb-4
                                | This visualization shows the spread of COVID-19 and its impacts in the United States from the beginning of the pandemic (March 2020) to November 2021. As the virus continues to spread and disrupt normalcy across the globe, I wanted to visualize where COVID-19 infections have been the highest, and the overall impact on the country; I also wanted to display the deaths and vaccinations over the span of this timeframe to show COVID-19’s impact beyond just the cases. Through this project, I hoped to demonstrate to the reader what states and counties have been affected the most by COVID-19, in terms of number of cases, deaths, and vaccinations.
                            //- button.btn.btn-primary(href='#!', data-bs-dismiss='modal')
                            //-     i.fas.fa-times.fa-fw
                            //-     | Close Window