// Portfolio Modal 5
#portfolioModal5.portfolio-modal.modal.fade(tabindex='-1', aria-labelledby='portfolioModal5', aria-hidden='true')
    .modal-dialog.modal-xl
        .modal-content
            .modal-header.border-0
                button.btn-close(type='button', data-bs-dismiss='modal', aria-label='Close')
            .modal-body.text-center.pb-5
                .container
                    .row.justify-content-center
                        .col-lg-8
                            // Portfolio Modal - Title
                            h2.portfolio-modal-title.text-secondary.text-uppercase.mb-0 Simeowlation - Endless Runner Game
                            // Icon Divider
                            .divider-custom
                                .divider-custom-line
                                .divider-custom-icon
                                    i.fas.fa-star
                                .divider-custom-line
                            // Portfolio Modal - Image
                            img.img-fluid.rounded.mb-5(src='assets/img/portfolio/simeow2.png', alt='...')
                            // Portfolio Modal - Text
                            p.mb-4
                                | I made this video game during the GAMERella Global Hackathon. I collaborated in a team of five (2 programmers, 2 artists, 1 musician) to build an infinite-runner video game within 48 hours. 
                                | I developed and presented this product with the following meaningful lesson: users learn the importance of sticking to a cause no matter what situation or hardship they end up in.
                                | We developed all code, art, music, and storyline from scratch. 
                                | I programmed in C# to implement infinite random object generation, an endlessly running player controller, dynamic winning and losing conditions, states, animations, collisions, enemies, health system, player/enemy deaths, sound effects, music, and UI. 

                            //- button.btn.btn-primary(href='#!', data-bs-dismiss='modal')
                            //-     i.fas.fa-times.fa-fw
                            //-     | Close Window